<div class="col-span-2">
  <h1 class="text-4xl">Teams</h1>
</div>
<div class="grid grid-flow-col">
  <div class="col-span-500px grid grid-cols-4 gap-2">
    <% @all_teams["data"].map do |team| %>
      <%= link_to team_path(team["teams"][0]["triCode"]) do  %>
        <div class="border p-3 rounded hover:shadow-md">
          <div><%= team["fullName"]  %></div>
          <div><%= team["teams"][0]["triCode"] %></div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="grid justify-center">
    <% @all_teams["data"].map do |team| %>
      <div><%= link_to team["fullName"], team_path(team["teams"][0]["triCode"])  %></div>
      <div><%= team["teams"][0]["triCode"] %></div>
    <% end %>
  </div>
</div>
