<nav class="border bg-slate-400 text-gray-900">
  <div>
    <div class="text-7xl text-black text-center">
      NHL API documentation
    </div>
    <br>
    <div class="text-center">Exploring the undocumented API published by the NHL</div>
  </div>
  <div class="grid border grid-cols-2" >
    <div class="text-center p-3">
      <%= link_to 'Home', root_path, {class: 'rounded bg-white p-2 hover:bg-slate-700 hover:text-white'} %>
    </div>
    <div class="text-center p-3">
      <%= link_to 'Endpoints', endpoints_path, {class: 'rounded bg-white p-2 hover:bg-slate-700 hover:text-white'} %>
    </div>
    <div class="text-center p-3">
      <%= link_to "Teams", teams_path, {class: 'rounded bg-white p-2 hover:bg-slate-700 hover:text-white'} %>
    </div>
    <div class="text-center p-3">
      <%= link_to "Players", players_path, {class: 'rounded bg-white p-2 hover:bg-slate-700 hover:text-white'} %>
    </div>
    <div class="text-center p-3">
      <%= link_to "Schedules", schedules_path, {class: 'rounded bg-white p-2 hover:bg-slate-700 hover:text-white'} %>
    </div>
    <div>
      base url: https://api-web.nhle.com/v1/
    </div>
  </div>
</nav>
