<div class="row justify-content-end">
  <div class="col-md-6 d-flex justify-content-evenly py-2">
    <div class="">
      <%= link_to 'Home', root_path, {class: 'text-decoration-none'} %>
    </div>
    <div class="">
      <%= link_to 'Predictions', predictions_path, {class: 'text-decoration-none'} %>
    </div>
    <div class="">
      <%= link_to "Teams", teams_path, {class: 'text-decoration-none'} %>
    </div>
    <div class="">
      <%= link_to "Games", games_path, {class: 'text-decoration-none'} %>
    </div>
    <div class="">
      <%= link_to "About", about_path, {class: 'text-decoration-none'} %>
    </div>
  </div>
</div>